body{
    margin-left:0px;
    margin-right:0px;
}
.render{
    display:flex;
    flex-direction:column;
    align-content: center;
}
.banner{
    width:100%;
    border: 1px solid black;
    background-color:black;
    opacity:0.85;
    color: white;
}
.title, .date{
   width:100%;
   height:50px;
   text-align:center; 
}
.date{
    margin-top:0px;
}
.author{
    display:flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    padding-top:15px;
    padding-bottom:15px;
}
.author img{
    width: 50px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-left:15px;
}

.body{
    padding-top: 50px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.article{
    width:70vw;  
}
.icons{
    position: fixed;
    margin-top:60vh;
    width:100%;
    height:50vh;
    display: flex;
    flex-direction:column;   
}
.icons a{
    margin-left:0px;
    margin-top:10px;
    padding-top:5px;
    padding-left:2px;
}
.whatsapp i{
    font-size:30px;
    color:green;
}
.facebook i{
    font-size:30px;
    color:blue;
}
.instagram i{
    font-size:30px;
    color:hotpink;
}
li{
    list-style: none
}


@media (min-width:650px){
.icons{
    position: fixed;
    margin-top:50vh;
    width:100%;
    height:50vh;
    display: flex;
    flex-direction:column;   
}
.icons a{
    margin-left:0px;
    margin-top:10px;
    padding-left:2.5vw;
}
.whatsapp i{
    font-size:50px;
    color:green;
}
.facebook i{
    font-size:50px;
    color:blue;
}
.instagram i{
    font-size:50px;
    color:hotpink;
}
}
